@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* customização geral */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
    
}

section{
    padding: 0rem 9%;
}

body{
    background: #FFFAFA
}

/* customização do cabeçalho */
.header .botton{
    border-radius: 10%;
    border: 1px solid #c5a862;
    background: #c5a862;
    color: #fff;
}

/* customizaçao do botao */
.botton:hover{
    transform: scale(1.1);
}

/* customização do cabeçalho logo */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 1000;
    background: linear-gradient(rgb(0, 0, 0, 10)93%, transparent 90%);
}

.header .logo{
    font-weight: bolder;
    font-size: 3rem;
    text-decoration: none;
}

.header .logo {
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    padding: 1.5rem;
    color: rgb(0, 0, 0, 10);
}

.header .logo:hover{
    transform: scale(1.1);
    background: #c5a862;
    border: 1rem solid;
    border-radius: 5rem;
}


.header .navbar a{
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
}

.header .navbar a:hover{
    background: #c5a862;
    border-radius: 1.5rem;
}

#menu-btn{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Customização home */

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 12rem;
    padding-bottom: 2rem;
}

.home .image{
    flex: 1 1 42rem;
    position: relative;
    border-radius: 1rem;
}

.home .image::before
.home .image::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: rgb(197, 168, 98);
    height: 15rem;
    width: 15rem;
}

.home .image::before{
    top: 0;
    left: 0;
}

.home .image img{
    width: 100%;
    border-radius: 2rem;
}

.home .content{
    flex: 1 1 42rem;
}

.home .content span{
    font-size: 3rem;
    color: rgb(197, 168, 98);
    margin-bottom: 1.5rem;
}

.home .content .title{
    font-size: 4rem;
    color: #000;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.home .content p{
    font-size: 1.8rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}

.home .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.home .content .box-container .box{
    flex: 1 1 20rem;
}

.home .content .box-container .box h3{
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
}

.home .content .botton{
    font-size: 2rem;
    color: #000;
    border: 1px solid #c5a862;
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
}

.home .content .botton a{
    text-decoration: none;
    color: #000;
}

.home .content .botton:hover{
    transform: scale(1.1);
    background: rgb(197, 168, 98)
}

/* Sobre */

.sobre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    background: rgb(0, 0, 0, 10);
    padding: 3rem;
}

.sobre .image{
    flex: 1 1 42rem;
    position: relative;
}

.sobre .image::before
.sobre .image::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: rgb(0, 0, 0, 0.7);
    height: 15rem;
    width: 15rem;
}

.sobre .image::before{
    top: 0;
    left: 0;
}

.sobre .image img{
    width: 100%;
    border-radius: 2rem;
    
}

.sobre .content{
    flex: 1 1 42rem;
}

.sobre .content .title{
    font-size: 4rem;
    color: #c5a862;
    margin-top: .5rem;
}

.sobre .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 2;
}

.sobre .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.sobre .content .box-container .box{
    flex: 1 1 20rem;
}

.sobre .content .box-container .box h3{
    font-size: 2rem;
    color: #000;
}

.sobre .content .botton{
    font-size: 2rem;
    color: #fff;
    border: 1px solid #c5a862;
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
}

.sobre .content .botton:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: #c5a862;
}

.sobre .content a{
    transform: scale(1.1);
}

/* customização doacao */

.doacao{
    background: linear-gradient(rgba(0, 0,0, 0.8), rgba(0, 0,0,0.8)),
    url(img/tatame.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 3.125rem 1.25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doacao span{
    font-size: 2rem;
    color: #c5a862;
}

.doacao h3{
    padding-top: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.doacao p{
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: #c5a862;
    line-height: 2;
}

.doacao .botton{
    font-size: 2rem;
    color: #fff;
    border: 1px solid #c5a862;
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
}

.doacao .botton:hover{
    transform: scale(1.1);
    background: #c5a862;
    
}

/* customização professores */

.professores{
    padding: 2rem;
    margin: 2rem;
}

.professores .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.professores .box-container .box{
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.professores .box-container .box:hover .content{
    transform: translateY(0);
}

.professores .box-container .box img{
    height: 467;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.professores .box-container .box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 2rem;
    transform: translateY(6.5rem);
}

.professores .box-container .box .content span{
    font-size: 1.5rem;
    color: rgb(197, 168, 98);
}

.professores .box-container .box .content h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 5rem;
}

.professores .box-container .box .content .share{
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid #aaa;
    
}

.professores .box-container .box .content .share a{
    font-size: 2rem;
    color: #fff;
    margin-right: 1.5rem;
    text-decoration: none;
}

.professores .box-container .box .content .share a:hover{
    color: rgb(197, 168, 98);
}

/* customização heading */

.heading{
    text-align: center;
    margin: 3rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    color: rgb(197, 168, 98);
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
}

/* customização de conosco */

.conosco .container{
    display: flex;
    gap: 3rem;
    padding: 12rem;
}

.conosco .container .text{
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    height: 100%;
    gap: 3rem;
}

.conosco .container .text h3{
    font-size: 3rem;
    color: #c5a862;
}

.conosco .container .text p{
    font-size: 1.8rem;
    margin-top: 2rem;
}
.conosco .container .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border: 0.1rem solid #c5a862;
    border-radius: 2rem;
    padding: 1rem;
}

.conosco .container .content .form-control{
    padding: 1rem .75rem;
}
.conosco .container .content .messagem .form-floating>.form-control .form-floating>.form-control-plaintext{
    padding: 1rem .75rem;
}
.conosco .content h4{
    font-size: 3rem;
    color: #c5a862;
}

.conosco .content span{
    font-size: 1.5rem;
    color: #c5a862;
    align-items: center;
}

.conosco .content input{
    font-size: 1.5rem;
    color: #c5a862;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #000;
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 1rem;
}

.footer .box-container .box .links{
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 3rem;
    text-decoration: none;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 3rem;
}

.footer .box-container .box p i{
    padding-right: 5rem;
    color: rgb(197, 168, 98);
}

.footer .box-container .box  a:hover{
    color: #c5a862;
}

.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: 5rem;
    text-align: center;
    text-decoration: none;
}

.footer .box-container .box .share a:hover{
    background: rgb(197, 168, 98);
}