@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-primary-dourado: #c5a862;
    --cor-secundary-branco: #eaf4fc;
    --cor-third-black: #000;
    --cor-four-cinza: #aaa;
    --cor-five-red: red

    --cor-primary-rgb: rgb(197, 168, 98);
    --cor-secundary-rgb: rgb(0, 0, 0, 0.10);

    --font-size-primary: 1.5rem;
    --font-size-secundary: 3rem;
    --font-size-third: 2.2rem;

    --style-primary-borda: 1px solid #c5a862;

    --tamanho-primeira-letra: 2rem;
    --tamanho-segunda-letra: 1.7rem;


    --tamanho-de-borda: 
}

/* customização geral */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
    background-color: var(--cor-secundary-branco);
}

section{
    padding: 0rem 9%;
}

body{
    background-color: var(--cor-secundary-branco);
}

/* customização do cabeçalho */
.header .botton{
    border-radius: 10%;
    border: var(--style-primary-borda);
    background: var(--cor-primary-dourado);
    color: var(--cor-secundary-branco);
    z-index: 10;
    position: absolute;
}

.header .navbar .dropdown .dropdown-menu{
    border-radius: 10%;
    border: var(--style-primary-borda);
    background: rgb(0, 0, 0, 0,7);
    color: var(--cor-third-black);
    position: fixed;
}
.header .navbar .dropdown .dropdown-menu a{
    color: var(--cor-third-black);
}
/* customizaçao do botao */
.botton:hover{
    transform: scale(1.1);
}

/* customização do cabeçalho logo */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 1000;
    background: linear-gradient(rgb(0, 0, 0, 10)93%, transparent 90%);
}

.header .logo{
    font-weight: bolder;
    font-size: var(--font-size-secundary);
    text-decoration: none;
}

.header .logo {
    font-size: var(--tamanho-primeira-letra);
    color: var(--cor-secundary-branco);
    text-decoration: none;
    padding: 1.5rem;
    color: rgb(0, 0, 0, 10);
}

.header .logo:hover{
    transform: scale(1.1);
    background: var(--cor-primary-dourado);
    border: 1rem solid;
    border-radius: 5rem;
}


.header .navbar a{
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: var(--tamanho-segunda-letra);
    color: var(--cor-secundary-branco);
    text-decoration: none;
    
}

.header .navbar a:hover{
    background: var(--cor-primary-dourado);
    border-radius: 1.5rem;
    
}

#menu-btn{
    font-size: var(--font-size-secundary);
    color: var(--cor-secundary-branco);
    cursor: pointer;
    display: none;

}

/* .nome{
    color: var(--cor-secundary-branco);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    font-size: var(--font-size-third);
    padding-right: 28%;
    
}

.nome a{
    text-decoration: none;
    color: var(--cor-secundary-branco);
}

.nome a:hover{
    text-decoration: none;
    color: var(--cor-primary-dourado);
} */

/* Customização home */

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 12rem;
    padding-bottom: 2rem;
}

.home .image{
    flex: 1 1 42rem;
    position: relative;
    border-radius: 1rem;
}

.home .image::before
.home .image::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--cor-primary-rgb);
    height: 15rem;
    width: 15rem;
}

.home .image::before{
    top: 0;
    left: 0;
}

.home .image img{
    width: 100%;
    border-radius: 2rem;
}

.home .content{
    flex: 1 1 42rem;
}

.home .content span{
    font-size: 3rem;
    color: var(--cor-primary-dourado);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.home .content .title{
    font-size: 4rem;
    color: var(--cor-third-black);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.home .content p{
    font-size: 1.8rem;
    color: var(--cor-four-cinza);
    padding: 1rem 0;
    line-height: 2;
}

.home .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.home .content .box-container .box{
    flex: 1 1 20rem;
}

.home .content .box-container .box h3{
    font-size: 2rem;
    color: var(--cor-third-black);
    margin-bottom: 2rem;
}

.home .content .botton{
    font-size: 2rem;
    color: var(--cor-third-black);
    border: var(--style-primary-borda);
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
}

.home .content .botton a{
    text-decoration: none;
    color: var(--cor-third-black);
}

.home .content .botton:hover{
    transform: scale(1.1);
    background: var(--cor-primary-rgb)
}

/* Sobre */

.sobre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    background: var(--cor-third-black);
    padding: 3rem;
}

.sobre .image{
    flex: 1 1 42rem;
    position: relative;
}

.sobre .image::before
.sobre .image::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--cor-third-black);
    height: 15rem;
    width: 15rem;
}

.sobre .image::before{
    top: 0;
    left: 0;
}

.sobre .image img{
    width: 100%;
    border-radius: 2rem;
    
}

.sobre .content{
    flex: 1 1 42rem;
}

.sobre .content .title{
    font-size: 4rem;
    color: var(--cor-primary-dourado);
    margin-top: .5rem;
}

.sobre .content p{
    font-size: 1.5rem;
    color: var(--cor-secundary-branco);
    padding: 1rem 0;
    line-height: 2;
}

.sobre .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.sobre .content .box-container .box{
    flex: 1 1 20rem;
}

.sobre .content .box-container .box h3{
    font-size: 2rem;
    color: var(--cor-third-black);
}

.sobre .content .botton{
    font-size: 2rem;
    color: #fff;
    border: var(--style-primary-borda);
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
}

.sobre .content .botton:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: var(--cor-primary-dourado);
}

.sobre .content a{
    transform: scale(1.1);
}

/* customização doacao */

.doacao{
    background: linear-gradient(rgba(0, 0,0, 0.8), rgba(0, 0,0,0.8)),
    url(img/tatame.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: var(--cor-secundary-branco);
    padding: 3.125rem 1.25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doacao span{
    font-size: 2rem;
    color: var(--cor-primary-dourado);
}

.doacao h3{
    padding-top: 1rem;
    color: var(--cor-secundary-branco);
    text-transform: uppercase;
    font-size: 3.5rem;
}

.doacao p{
    margin: 1rem auto;
    max-width: 60rem;
    font-size: var(--font-size-primary);
    color: var(--cor-primary-dourado);
    line-height: 2;
}

.doacao .botton{
    font-size: var(--tamanho-primeira-letra);
    color: #fff;
    border: var(--style-primary-borda);
    border-radius: 6rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
}

.doacao .botton:hover{
    transform: scale(1.1);
    background: var(--cor-primary-dourado);
    
}

/* customização professores */

.professores{
    padding: 2rem;
    margin: 2rem;
}

.professores .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.professores .box-container .box{
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.professores .box-container .box:hover .content{
    transform: translateY(0);
}

.professores .box-container .box img{
    height: 467;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.professores .box-container .box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--cor-third-black);
    padding: 2rem;
    transform: translateY(6.5rem);
}

.professores .box-container .box .content span{
    font-size: 1.5rem;
    color: var(--cor-primary-rgb);
}

.professores .box-container .box .content h3{
    font-size: 2rem;
    color: var(--cor-secundary-branco);
    padding-top: 5rem;
}

.professores .box-container .box .content .share{
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid var(--cor-four-cinza);
    
}

.professores .box-container .box .content .share a{
    font-size: 2rem;
    color: var(--cor-secundary-branco);
    margin-right: 1.5rem;
    text-decoration: none;
}

.professores .box-container .box .content .share a:hover{
    color: var(--cor-primary-rgb);
}

/* customização heading */

.heading{
    text-align: center;
    margin: 3rem;
    position: relative;
    padding-top: 0.2rem ;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: var(--cor-four-cinza);
    z-index: -1;
}

.heading span{
    font-size: var(--font-size-secundary);
    color: var(--cor-primary-dourado);
    background: var(--cor-third-black);
    padding: .5rem 1.5rem;
    border: 0.1rem solid var(--cor-four-cinza);
    border-radius: .5rem;
}

/* customização de conosco */
form{
    width: 100%;
    max-width: 30rem;
    padding: 20px;
}
label, input, textarea{
    display: block;
}

input, textarea, button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    margin-bottom: 15px;
    padding: 10px;
}
.conosco .container{
    display: flex;
    gap: 3rem;
    padding: 2rem;
}

.conosco .container form{
    width: 100%;
    max-width: 30rem;
}

.conosco .container label, input,textarea,button{
    display: block;
}

.conosco .container input,textarea,button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
.conosco .container input,textarea{
    margin-bottom: 1rem;
    color: var(--cor-secundary-branco);
    background: var(--cor-four-cinza);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s,
    box-shadow 0.3s;
}

.conosco .container input:hover, input:focus, textarea:hover, textarea:focus{
    outline: none;
    border-color: var(--cor-primary-dourado);
    box-shadow: 0 0 0 0.3125rem var(--cor-secundary-branco);
}

.conosco .container label{
    margin-bottom: 0.5rem;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
}

.conosco .container textarea{
    min-height: 12.5rem;
    resize: vertical;
    color: var(--cor-third-black);
    font-size: 1.5rem;
}
.conosco .container button{
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 99px;
    color: var(--cor-secundary-branco);
    background: var(--cor-primary-dourado);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
}

.conosco .container button:hover, button:focus{
    outline: none;
    background: var(--cor-primary-dourado);
}

.conosco .container button:disabled{
    cursor: not-allowed;
    background: var(--cor-four-cinza);
}


.conosco .container .text{
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    height: 100%;
    gap: 3rem;
}

.conosco .container .text h3{
    font-size: 2rem;
    color: var(--cor-primary-dourado);
}

.conosco .container .text p{
    font-size: 1.8rem;
    margin-top: 2rem;
}
.conosco .container .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    border: 0.1rem solid var(--cor-primary-dourado);
    border-radius: 2rem;
    padding: 1rem;
}

 /* .conosco .container .content .form-control{
    padding: 1rem .75rem;
}
.conosco .container .content .messagem .form-floating>.form-control .form-floating>.form-control-plaintext{
    padding: 1rem .75rem;
} */
.conosco .content h4{
    font-size: var(--font-size-secundary);
    color: var(--cor-primary-dourado);
}

/* .conosco .content span{
    font-size: 1.5rem;
    color: var(--cor-primary-dourado);
    align-items: center;
} */

.conosco .content input, textarea{
    font-size: 1.5rem;
    color: var(--cor-third-black);
    width: 35rem;
    margin-top: 3rem;
}

.conosco input{
    border-radius: 1rem;
    padding: 1rem;
    border: var(--style-primary-borda);
}
.success{
    color: var(--cor-primary-dourado);
}
.error{
    color: var(--cor-five-red)
}
.success, .error{
    text-align: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: var(--cor-third-black);
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--cor-secundary-branco);
    padding: 1rem 1rem;
}

.footer .box-container .box .links{
    font-size: var(--font-size-primary);
    display: block;
    color: var(--cor-four-cinza);
    padding: 1rem 3rem;
    text-decoration: none;
}

.footer .box-container .box p{
    font-size: var(--font-size-primary);
    color: var(--cor-four-cinza);
    padding: 1rem 3rem;
}

.footer .box-container .box p i{
    padding-right: 5rem;
    color: var(--cor-primary-rgb);
}

.footer .box-container .box  a:hover{
    color: var(--cor-primary-dourado);
}

.footer .box-container .box .share a{
        
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--cor-secundary-branco);
    background: var(--cor-third-black);
    border-radius: 50%;
    margin-right: 5rem;
    text-align: center;
    text-decoration: none;
}

.footer .box-container .box .share a:hover{
    background: var(--cor-primary-rgb);
}