body {
    padding-top: 80px; /* empurra o conteúdo pra baixo, para não ficar escondido atrás do nav */
  }
.text-gold{
    color: #c9aa5e;
    font-weight: bold;
  }

  .section-entrevistas {
    position: relative;
    z-index: 1;
    padding-top: 60px; /* espaço para o nav */
    padding-left: 40px; /* mais espaço da borda esquerda */
    padding-right: 40px; /* espaçamento nas laterais */
  }
  
  .conteudo-entrevistas {
    display: flex;
    gap: 40px; /* espaçamento entre vídeo e texto */
    align-items: flex-start; /* Alinha os itens no topo */
  }
  
  .titulo-entrevistas {
    color: #c8a24a;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 5rem;
    /* centraliza horizontalmente no espaço disponível */
    width: 100%;
    text-align: center;
    order: -1; /* faz o título aparecer acima do vídeo e descrição */
  }
  
  .video-container-portrait {
    position: relative;
    width: 250px;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 40px; /* empurra o vídeo para a direita */
    margin-bottom: 40px;
  }
  
  .video-container-portrait iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .descricao-video {
    margin-top: 0; /* garante que não tenha espaço acima */
    padding-top: 0;
    max-width: 560px;
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
  }
  
  
  .descricao-video h3 a {
    color: #c8a24a;  /* mesma cor dourada do título */
    text-decoration: none; /* remove o sublinhado padrão do link */
    font-weight: 700; /* mantém o negrito */
    font-size: 3rem;
  }
  
  .descricao-video h3 a:hover {
    text-decoration: underline; /* opcional: sublinhado ao passar o mouse */
  }
  
  .descricao-video p {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .descricao-video small {
    color: #666;
    font-size: 0.85rem;
  }
  